.content {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.friendsList .active {
    color: blue;
}

.item {
    color: #328275;
    padding: 7px 0 7px 30px;
}

.dialogs {

}

.message {
    padding: 10px;
}